<!DOCTYPE html>
<html lang="en">
<head>
  <title>"{{tracker_name}}" tracker failed to check for changes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{> email_styles}}
</head>
<body>
<div class="container">
  <p>There was an error while running Retrack tracker:</p>
  <hr />
  <p><b>Tracker:</b> {{tracker_name}} <small><i>{{tracker_id}}</i></small></p>
  <hr />
  <p><b>{{error_message}}</b></p>
  <hr />
  <p>Please check tracker configuration and make sure tracker target is available.</p>
  <a href="{{home_link}}"><img src="cid:retrack-logo" alt="Retrack logo" width="64" height="16"/></a>
</div>
</body>
</html>
